/* Blog Details CSS Start */
.blog_details {
    padding: 134px 0 100px;
}
.blog_details .margin_btm {
    margin-bottom: 100px;
}
.blog_details .headline h1, .blog_details .headline h2 {
    font-size: 50px;
}
.blog_details .headline h2, .blog_details .comments {
    max-width: 880px;
}
.blog_details .headline .image {
    max-width: 100%;
}
.blog_details .headline .image img {
    width: 100%;
}
.blog_details .headline .user .avatar {
    max-width: 48px;
    background-color: rgb(236, 234, 237);
}
.blog_details .comments .comment_avatar {
    max-width: 56px;
    background: linear-gradient(326deg, rgba(181, 135, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.blog_details .headline .user .avatar img, .blog_details .comments .comment_avatar img {
    width: 100%;
}
.blog_details .headline .user .texts h6 {
    font-size: 14px;
}
.blog_details .headline .user .texts h6 .icon {
    font-size: 6px;
}
.blog_details .article_text {
    max-width: 1000px;
}
.blog_details .article_text p .bullet_icon {
    font-size: 10px;
}
.blog_details .article_text .checkmark {
    background-color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #181d26 !important;
}
.blog_details .article_text .socials .icon {
    border: 1px solid #323232;
    width: 40px;
    height: 40px;
    transition: 0.4s;
}
.blog_details .article_text .socials .icon:hover {
    font-size: 18px;
    background-color: #864ffe;
    width: 44px;
    height: 44px;
}
.blog_details form {
    background-color: #0F1217;
}
.blog_details form .input_group input, .blog_details form .input_group textarea {
    background-color: #0f1217;
    border: 1px solid #2d313a;
    color: #fff;
}
.blog_details form .input_group input:focus, .blog_details form .input_group textarea:focus {
    border: 1px solid #864ffe;
    box-shadow: none;
}
.blog_details form .input_group p {
    font-size: 12px;
}
.blog_details form .input_group p a {
    color: #864ffe;
}
.blog_details form button {
    border: 1px solid #fff;
    transition: 0.4s;
}
.blog_details form button:hover {
    background-color: #864ffe !important;
    border: 1px solid #a585ff;
    color: #fff !important;
}
.blog_details form .input_group input::placeholder, .blog_details form .input_group textarea::placeholder {
    color: #b1b1b1;
}
@media screen and (max-width: 768px) {
    .blog_details .headline h2 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .blog_details {
        padding: 100px 0 38px;
    }
    .blog_details .headline h1 {
        font-size: 30px;
    }
    .blog_details h2 {
        font-size: 24px !important;
    }
    .blog_details h6 {
        font-size: 12px;
    }
    .blog_details p {
        font-size: 14px;
    }
}
/* Blog Details CSS End */


/* Free Trial CSS Start */
.trial {
    padding: 100px 0;
}
.trial p {
    color: #83e7ee;
    background-color: #2f333b;
    max-width: 110px;
    font-size: 14px;
}
.trial h1 {
    font-size: 52px;
}
.trial form .input_group input {
    background-color: #0f121700;
    border: 1px solid #2d313a;
    color: #b1b1b1;
    max-width: 300px;
}
.trial form .input_group input::placeholder {
    color: #b1b1b1;
}
.trial form .input_group input:focus {
    box-shadow: none;
    border: 1px solid #864ffe;
}
.trial form .input_group a {
    background-color: #864ffe;
    border: 1px solid #a585ff;
    transition: 0.4s;
}
.trial form .input_group a:hover {
    background-color: #fdfdfd;
    border: 1px solid #fff;
    color: #222 !important;
}
.trial .benefits p {
    background-color: #00000000;
    max-width: 100%;
}
.trial .benefits .checkmark {
    background-color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #181d26 !important;
}
@media screen and (max-width: 768px) {
    .trial {
        padding: 0 0 60px;
    }
}
@media screen and (max-width: 576px) {
    .trial {
        padding: 0 0 38px;
    }
    .trial h1 {
        font-size: 24px;
    }
    .trial h6 {
        font-size: 14px;
    }
    .trial form .input_group a {
        width: 100%;
    }
}
/* Free Trial CSS End */


/* Footer CSS Start */
footer {
    background: #070b10;
}
/* Footer CSS End */