/* Contact Start */
.contact {
    padding: 134px 0 100px;
}
.contact .headline {
    max-width: 660px;
}
.contact .margin_btm {
    margin-bottom: 110px;
}
.contact .headline h1 {
    font-size: 50px;
}
.contact .item_one, .contact .item_two, .contact .item_three, .contact form {
    background: #0F1217;
}
.contact .item_one {
    background: linear-gradient(40deg, rgba(15, 18, 23, 1) 70%, rgba(255, 154, 23, 1) 85%, rgba(255, 41, 191, 1) 92%, rgba(211, 83, 237, 1) 100%);
}
.contact .item_two {
    background: linear-gradient(4deg, rgba(15, 18, 23, 1) 70%, rgba(255, 154, 23, 1) 85%, rgba(255, 41, 191, 1) 92%, rgba(211, 83, 237, 1) 100%);
}
.contact .item_three {
    background: linear-gradient(300deg, rgba(15, 18, 23, 1) 70%, rgba(255, 154, 23, 1) 85%, rgba(255, 41, 191, 1) 92%, rgba(211, 83, 237, 1) 100%);
}
.contact form .input_group input, .contact form .input_group textarea {
    background-color: #0f1217;
    border: 1px solid #2d313a;
    color: #fff;
}
.contact form .input_group input:focus, .contact form .input_group textarea:focus {
    border: 1px solid #3e434d;
    box-shadow: none;
}
.contact form .input_group p {
    font-size: 12px;
}
.contact form .input_group p a {
    color: #864ffe;
}
.contact form button {
    border: 1px solid #fff;
    transition: 0.4s;
}
.contact form button:hover {
    background-color: #864ffe !important;
    border: 1px solid #a585ff;
    color: #fff !important;
}
.contact form .input_group input::placeholder, .contact form .input_group textarea::placeholder {
    color: #b1b1b1;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 100px 0 60px;
    }
    .contact .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .contact {
        padding: 98px 0 38px;
    }
    .contact .headline p, .contact h6 {
        font-size: 14px;
    }
    .contact .headline h1 {
        font-size: 24px;
    }
}
/* Contact End */


/* Google Maps Start */
.map {
    padding: 0 0 140px;
}
.map iframe {
    width: 100%;
    height: 600px;
    border: 10px solid #13171e;
}
@media screen and (max-width: 768px) {
    .map {
        padding: 0 0 60px;
    }
    .map iframe {
        height: 400px;
    }
}
@media screen and (max-width: 768px) {
    .map {
        padding: 0 0 38px;
    }
}
/* Google Maps End */


/* Free Trial CSS Start */
.trial {
    padding: 100px 0;
    background-color: #13171e;
}
.trial p {
    color: #83e7ee;
    background-color: #2f333b;
    max-width: 110px;
    font-size: 14px;
}
.trial h1 {
    font-size: 52px;
}
.trial form .input_group input {
    background-color: #0f121700;
    border: 1px solid #2d313a;
    color: #b1b1b1;
    max-width: 300px;
}
.trial form .input_group input::placeholder {
    color: #b1b1b1;
}
.trial form .input_group input:focus {
    box-shadow: none;
    border: 1px solid #864ffe;
}
.trial form .input_group a {
    background-color: #864ffe;
    border: 1px solid #a585ff;
    transition: 0.4s;
}
.trial form .input_group a:hover {
    background-color: #fdfdfd;
    border: 1px solid #fff;
    color: #222 !important;
}
.trial .benefits p {
    background-color: #00000000;
    max-width: 100%;
}
.trial .benefits .checkmark {
    background-color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #181d26 !important;
}
@media screen and (max-width: 768px) {
    .trial {
        padding: 60px 0;
    }
}
@media screen and (max-width: 576px) {
    .trial {
        padding: 38px 0;
    }
    .trial h1 {
        font-size: 24px;
    }
    .trial h6 {
        font-size: 14px;
    }
    .trial form .input_group a {
        width: 100%;
    }
}
/* Free Trial CSS End */


/* Footer CSS Start */
footer {
    background: #070b10;
}
/* Footer CSS End */