/* Header CSS Start */
header {
    background: url(/images/web-host-hero-pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #181d26;
    padding: 104px 0 100px;
}
header .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 180px;
    font-size: 14px;
}
header .headline h1 {
    font-size: 64px;
}
header .headline h6 {
    color: #b1b1b1;
    line-height: 24px;
    font-size: 18px;
}
header .image_one {
    margin-bottom: -58px;
}
header .headline form .input_group input {
    background-color: #0f1217;
    border: 1px solid #2d313a;
    color: #b1b1b1;
    max-width: 300px;
}
header .headline form .input_group input::placeholder {
    color: #b1b1b1;
}
header .headline form .input_group a {
    background-color: #864ffe;
    border: 1px solid #a585ff;
    transition: 0.4s;
}
header .headline form .input_group a:hover {
    background-color: #fdfdfd;
    border: 1px solid #fff;
    color: #222 !important;
}
header .headline .customers .image {
    border: 2px solid #181d26;
    max-width: 54px;
}
header .headline .customers .image img {
    width: 100%;
}
header .headline .customers .one {
    background-color: #f9eb57;
}
header .headline .customers .two {
    background-color: #ffb9a2;
    margin-left: -18px;
}
header .headline .customers .three {
    background-color: #c6f56f;
    margin-left: -18px;
}
header .headline .customers .more {
    background-color: #83e7ee;
    padding: 13px 11px;
    border: 2px solid #181d26;
    margin-left: -18px;
}
header .headline .customers .texts h6 {
    font-size: 14px;
}
header .headline .customers .texts p {
    background-color: #00000000;
    color: #b1b1b1;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    header .headline h1 {
        font-size: 52px;
    }
    header .headline h6 {
        line-height: 22px;
        font-size: 16px;
    }
    header .image_one {
        margin-bottom: -20px;
    }
    header .headline form .input_group {
        max-width: 550px;
        margin: 0 auto;
    }
    header .headline form .input_group input {
        max-width: 400px;
    }
    header .headline form .input_group a {
        width: 50%;
    }
}
@media screen and (max-width: 576px) {
    header .headline h1 {
        font-size: 38px;
    }
    header .headline .my_text {
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 20px !important;
    }
    header .headline form .input_group a {
        width: 100%;
    }
}
/* Header CSS End */