/* Header CSS Start */
header {
    background: url(/images/web-host-hero-pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #181d26;
    padding: 134px 0 140px;
}
header .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 180px;
    font-size: 14px;
}
header .headline h1 {
    font-size: 64px;
}
header .headline h6 {
    line-height: 24px;
    font-size: 18px;
}
header .headline form .input_group input {
    background-color: #0f1217;
    border: 1px solid #2d313a;
    color: #b1b1b1;
    max-width: 300px;
}
header .headline form .input_group input::placeholder {
    color: #b1b1b1;
}
header .headline form .input_group input:focus {
    box-shadow: none;
    border: 1px solid #864ffe;
}
header .headline form .input_group a {
    background-color: #864ffe;
    border: 1px solid #a585ff;
    transition: 0.4s;
}
header .headline form .input_group a:hover {
    background-color: #fdfdfd;
    border: 1px solid #fff;
    color: #222 !important;
}
header .headline .customers .image {
    border: 2px solid #181d26;
    max-width: 54px;
}
header .headline .customers .image img {
    width: 100%;
}
header .headline .customers .one {
    background-color: #f9eb57;
}
header .headline .customers .two {
    background-color: #ffb9a2;
    margin-left: -18px;
}
header .headline .customers .three {
    background-color: #c6f56f;
    margin-left: -18px;
}
header .headline .customers .more {
    background-color: #83e7ee;
    padding: 13px 11px;
    border: 2px solid #181d26;
    margin-left: -18px;
}
header .headline .customers .texts h6 {
    font-size: 14px;
}
header .headline .customers .texts p {
    background-color: #00000000;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    header {
        padding: 124px 0 0;
    }
    header .headline h1 {
        font-size: 52px;
    }
    header .headline h6 {
        line-height: 22px;
        font-size: 16px;
    }
    header .image_one {
        margin-bottom: -20px;
    }
    header .headline form .input_group {
        max-width: 550px;
        margin: 0 auto;
    }
    header .headline form .input_group input {
        max-width: 400px;
    }
    header .headline form .input_group a {
        width: 50%;
    }
}
@media screen and (max-width: 576px) {
    header .headline h1 {
        font-size: 38px;
    }
    header .headline .my_text {
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 20px !important;
    }
    header .headline form .input_group a {
        width: 100%;
    }
}
/* Header CSS End */


/* About Top CSS Start */
.about_top {
    background-color: #181d26;
    padding: 80px 0;
}
.about_top .wrapper {
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
}
.about_top .wrapper .about_top_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(30deg, rgba(0, 0, 0, 1) 18%, rgba(255, 255, 255, 0.22) 29%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 0.22) 66%, rgba(0, 0, 0, 1) 78%);
    filter: blur(80px);
}
.about_top .wrapper .about_top_area {
    filter: blur(0px);
}
.about_top .wrapper .about_top_area h1 {
    max-width: 580px;
}
.about_top .wrapper .about_top_area form .input_group input {
    background-color: #ffffff2e;
    border: 1px solid #ffffff2e;
}
.about_top .wrapper .about_top_area form .input_group input, .about_top .wrapper .about_top_area form .input_group input::placeholder, .about_top .wrapper .about_top_area .domains li, .about_top .wrapper .about_top_area p {
    color: #ffffffa7;
    list-style: none;
}
.about_top .wrapper .about_top_area form .input_group input:focus {
    box-shadow: none;
    border: 1px solid #864ffe;
}
.about_top .wrapper .about_top_area form button {
    background-color: #864ffe;
    border: 1px solid #a585ff;
    width: 100%;
    transition: 0.4s;
}
.about_top .wrapper .about_top_area form button:hover {
    background-color: #fdfdfd;
    border: 1px solid #fff;
    color: #222 !important;
}
.about_top .wrapper .about_top_area h2 {
    border-top: 1px solid #ffffff21;
}
.about_top .wrapper .about_top_area p .star {
    color: #3abd0b;
}
@media screen and (max-width: 768px) {
    .about_top .wrapper {
        padding: 38px 20px;
    }
    .about_top .wrapper .about_top_area h2 {
        font-size: 16px;
    }
    .about_top .wrapper .about_top_area p {
        font-size: 14px;
    }
} 
@media screen and (max-width: 576px) {
    .about_top .wrapper .about_top_area h1 {
        font-size: 24px;
    }
}
/* About Top CSS End */


/* About Bottom CSS Start */
.about_btm {
    background-color: #181d26;
    padding: 100px 0;
}
.about_btm .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 100px;
    font-size: 14px;
}
.about_btm .headline h1 {
    font-size: 50px;
}
.about_btm .headline h6 {
    line-height: 24px;
}
.about_btm .charts .chart .image {
    max-width: 68px;
}
.about_btm .image_two {
    max-width: 620px;
}
.about_btm .charts .chart .image img, .about_btm .image_two img {
    width: 100%;
}
.about_btm .charts .chart h5 {
    font-size: 16px;
}
.about_btm a {
    border: 1px solid #fff;
    transition: 0.4s;
}
.about_btm a:hover {
    background-color: #864ffe !important;
    border: 1px solid #a585ff;
    color: white !important;
}
@media screen and (max-width: 768px) {
    .about_btm {
        padding: 60px 0;
    }
    .about_btm .headline {
        max-width: 590px;
    }
    .about_btm .headline h1 {
        font-size: 42px;
    }
    .about_btm .headline h6 {
        max-width: 500px;
    }
    .about_btm .charts {
        max-width: 500px;
    }
}
@media screen and (max-width: 576px) {
    .about_btm {
        padding: 38px 0;
    }
    .about_btm .headline h1 {
        font-size: 24px;
    }
    .about_btm .headline h6 {
        font-size: 14px;
    }
}
/* About Bottom CSS End */


/* Our Services CSS Start */
.services {
    padding: 100px 0;
    background-color: #13171e;
}
.services .headline {
    max-width: 620px;
}
.services .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 120px;
    font-size: 14px;
}
.services .headline h1 {
    font-size: 50px;
}
.services h6 {
    line-height: 24px;
}
.services h2 {
    font-size: 40px;
}
.services a {
    border: 1px solid #fff;
    transition: 0.4s;
}
.services a:hover {
    background-color: #864ffe !important;
    border: 1px solid #a585ff;
    color: white !important;
}
.services .customers {
    margin-left: 38px;
}
.services .customers .image {
    border: 4px solid #181d26;
    background-color: #f0eaff;
    margin-left: -18px;
    max-width: 48px;
}
.services .customers .image img {
    width: 100%;
}
.services .customers .more {
    background-color: #83e7ee;
    padding: 8px 6px;
    font-size: 14px;
    border: 4px solid #181d26;
    margin-left: -18px;
}
.services .customers .texts h6 {
    font-size: 14px;
}
.services .customers .texts p {
    background-color: #00000000;
    color: #b1b1b1;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .services {
        padding: 60px 0;
    }
    .services .headline h1 {
        font-size: 42px;
    }
    .services h2 {
        font-size: 24px;
    }
    .services .customers {
        margin-left: 16px;
    }
}
@media screen and (max-width: 576px) {
    .services .headline h1 {
        font-size: 24px;
    }
    .services h6 {
        color: #b1b1b1;
        line-height: 22px;
        font-size: 14px;
    }
    .services h2 {
        font-size: 18px;
    }
    .services h5 {
        font-size: 14px;
    }
    .services p {
        font-size: 9.4px;
    }
}
/* Our Services CSS End */


/* Pricing CSS Start */
.pricing {
    background-color: #181d26;
    padding: 100px 0;
}
.pricing .wrapper {
    background-color: #13171e;
    padding: 100px 40px;
}
.pricing .wrapper .headline {
    max-width: 600px;
}
.pricing .wrapper .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 120px;
    font-size: 14px;
}
.pricing .wrapper .headline h1 {
    font-size: 50px;
}
.pricing .wrapper .pricing_item .texts h6 {
    border-bottom: 1px solid #2d313a8a;
}
.pricing .wrapper .padding_top {
    padding-top: 158px;
}
.pricing .wrapper .pricing_item .bg_dark, .pricing .wrapper .pricing_item .plan a {
    background-color: #0f1217;
}
.pricing .wrapper .pricing_item .texts .blank {
    padding: 17px;
}
.pricing .wrapper .pricing_item .plan a {
    border: 1px solid #2d313a;
    transition: 0.4s;
}
.pricing .wrapper .pricing_item .two a {
    background-color: #864ffe;
    border: 1px solid #a585ff;
    transition: 0.4s;
}
.pricing .wrapper .pricing_item .plan a:hover {
    border: 1px solid #fcfcfc;
    background-color: #fff;
    color: #000 !important;
}
.pricing .wrapper .pricing_item .one,.pricing .wrapper .pricing_item .three {
    background-color: #181d26;
}
.pricing .wrapper .pricing_item .two {
    background: #1A1A1C;
    background: linear-gradient(52deg, rgba(26, 26, 28, 1) 67%, rgba(213, 0, 255, 1) 76%, rgba(0, 17, 255, 1) 83%, rgba(0, 255, 229, 1) 88%, rgba(242, 255, 0, 1) 97%);
}
@media screen and (max-width: 768px) {
    .pricing {
        padding: 80px 0;
    }
    .pricing .wrapper {
        background-color: #13171e;
        padding: 60px 30px;
    }
    .pricing .wrapper .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .pricing {
        padding: 50px 0;
    }
    .pricing .wrapper {
        padding: 38px 20px;
    }
    .pricing .wrapper .headline h1 {
        font-size: 24px;
    }
    .pricing .wrapper .padding_top {
        padding-top: 20px;
    }
}
/* Pricing CSS End */


/* Testimonial CSS Start */
.testimonial {
    background-color: #181d26;
    padding: 100px 0;
}
.testimonial .headline {
    max-width: 810px;
}
.testimonial .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 90px;
    font-size: 14px;
}
.testimonial .headline h1 {
    font-size: 50px;
}
.testimonial .item {
    background-color: #13171e;
}
.testimonial .item p {
    border-bottom: 1px solid #2d313a8a;
}
.testimonial .item .image {
    background: #2A7B9B;
    background: linear-gradient(180deg, rgb(123, 207, 241) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    max-width: 54px;
}
.testimonial .item .image img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .testimonial {
        padding: 30px 0 60px;
    }
    .testimonial .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .testimonial {
        padding: 20px 0 38px;
    }
    .testimonial .headline h1 {
        font-size: 24px;
    }
    .testimonial h6 {
        font-size: 14px;
    }
}
/* Testimonial CSS End */


/* Process CSS Start */
.process {
    background-color: #13171e;
    padding: 100px 0;
}
.process .headline {
    max-width: 810px;
}
.process .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 80px;
    font-size: 14px;
}
.process .headline h1 {
    font-size: 50px;
}
.process .item {
    background-color: #181d26;
}
.process .item p {
    background-color: #a585ff;
    max-width: 46px;
    max-height: 46px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .process {
        padding: 60px 0;
    }
    .process .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .process {
        padding: 38px 0;
    }
    .process .headline h1 {
        font-size: 24px;
    }
    .process h6 {
        font-size: 14px;
    }
}
/* Process CSS End */


/* Blog CSS Start */
.blog {
    padding: 100px 0;
    background-color: #181d26;
}
.blog .headline {
    max-width: 780px;
}
.blog .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 70px;
    font-size: 14px;
}
.blog .headline h1 {
    font-size: 50px;
}
.blog .blog_page {
    transition: 0.4s;
}
.blog .blog_page:hover {
    transform: scale(1.02);
}
.blog .blog_page .texts {
    background-color: #0f1217;
}
.blog .blog_page .texts .top h6 {
    background-color: #242b2f;
}
.blog .blog_page .texts .top p {
    font-size: 13px;
}
.blog .blog_page .texts .top .bullet_icon {
    font-size: 6px;
}
.blog .blog_page .texts .bottom a {
    border: 1px solid #2d313a;
    transition: 0.4s;
}
.blog .blog_page .texts .bottom a:hover {
    border: 1px solid #fcfcfc;
    background-color: #fff;
    color: #000 !important;
}
@media screen and (max-width: 768px) {
    .blog {
        padding: 60px 0;
    }
    .blog .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .blog {
        padding: 38px 0;
    }
    .blog .headline h1 {
        font-size: 24px;
    }
    .blog h6 {
        font-size: 14px;
    }
}
/* Blog CSS End */