/* Header CSS Start */
header {
    background: url(/images/web-host-hero-pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #181d26;
    padding: 104px 0 100px;
}
header .headline p {
    color: #c6f56f;
    background-color: #2f333b;
    max-width: 180px;
    font-size: 14px;
}
header .headline h1 {
    font-size: 64px;
}
header .headline h6 {
    color: #b1b1b1;
    line-height: 24px;
    font-size: 18px;
}
header .image_one {
    margin-bottom: -58px;
}
header .headline form .input_group input {
    background-color: #0f1217;
    border: 1px solid #2d313a;
    color: #b1b1b1;
    max-width: 300px;
}
header .headline form .input_group input::placeholder {
    color: #b1b1b1;
}
header .headline form .input_group a {
    background-color: #864ffe;
    border: 1px solid #a585ff;
    transition: 0.4s;
}
header .headline form .input_group a:hover {
    background-color: #fdfdfd;
    border: 1px solid #fff;
    color: #222 !important;
}
/* Header CSS End */